<nav class="custom-nav">
  <div>
    <span class="navbar-toggler-icon m-auto "></span>
    <span class="" onclick="location.href='https://youtu.be/SeXIv2HEO-M?t=50'" style="cursor: pointer;"><img src="assets/img/YouTube-Logo.png" style="height: 40px;"
        alt=""></span>
  </div>
  <div>
    <div class="input-group ">
      <input type="text" class="form-control" style="width: 50vh;" value="" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2"><i class="bi bi-search" style="cursor: pointer;"></i></span>
    </div>
  </div>
<div>
  <button class="btn btn-outline-primary d-flex align-items-center p-1"><i class="bi bi-person-lines-fill" style="font-size: 1.1rem;"></i> ACCEDER</button>
</div>
</nav>
