<div class="login-page bg-light">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h3 class="mb-3">Acceso</h3>
              <div class="bg-white shadow rounded">
                  <div class="row">
                      <div class="col-md-7 pe-0">
                          <div class="form-left h-100 py-5 px-5">
                              <form action="" class="row g-4">
                                      <div class="col-12">
                                          <label>Usuario<span class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                              <input type="text" class="form-control" placeholder="Ingrese Usuario">
                                          </div>
                                      </div>

                                      <div class="col-12">
                                          <label>Contraseña<span class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                              <input type="text" class="form-control" placeholder="Ingrese Contraseña">
                                          </div>
                                      </div>

                                      <div class="col-sm-6">
                                          <div class="form-check">
                                              <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                              <label class="form-check-label" for="inlineFormCheck">Recuerdame</label>
                                          </div>
                                      </div>

                                      <div class="col-sm-6">
                                          <a  class="float-end text-primary">Olvidaste tu contraseña?</a>
                                      </div>

                                      <div class="col-12">
                                          <button type="submit" class="btn btn-primary px-4 float-end mt-4">login</button>
                                      </div>
                              </form>
                          </div>
                      </div>
                      <div class="col-md-5  d-flex  align-items-center ">
                        <img src="assets/img/YouTube-Logo.png" alt="" style="width: 40vh;">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
